@(title: String, htmlTagInclude: Html, headTagInclude: Html, bodyTagInclude: Html)(content: Html)

<!DOCTYPE html>

<html @htmlTagInclude>
    <head @headTagInclude>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")">
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.min.css")">
    </head>
    <body @bodyTagInclude>


            <!-- Fixed navbar -->
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Work Watch</a>
                </div>
            </div>
        </nav>

        @content

        <footer>
            <hr/>
            <div>
                <span>&copy; workwatch.com 2015</span>
            </div>
            <div>
                <span app-version></span>
            </div>
        </footer>

    </body>
</html>